@charset "utf-8";
/*
Website Name: Robert Means
Website URL: http://www.robertmeans.com
Website Author: Robert Means
Date: February 2014
Copyright 2014. All Rights Reserved
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
.clear-fix { 
	clear: both; 
	line-height: 1px;
}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;	
}
.clearfix:after {
	clear: both;	
}

/* 
===================================================== #begin custom
*/
body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 2em;
	color: #3c3c3c;
	background: white;
}
p {
	line-height: 1.4em;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
#wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0px auto;
	background-color: #fff;
}

#home_text {
	max-width: 800px;
	position: relative;
	margin: 15px auto 0px auto;
}
#home_text a {
	color: #0000ff;
	text-decoration: none;
}
#home_text a:hover {
	text-decoration: underline;
}

.home_text_left {
	position: relative;
	float: left;
	width: 30%;
	text-align: left;
	top: 15px;
	padding-left: 3%;
		
}
.sushi_menu_link {
	display: inline-block;
	margin-top: 22px;
}
.sunday {
	display: inline-block;
	margin-top: 15px;
}
.home_text_middle {
	position: relative;
	float: left;
	width: 33%;	
	text-align: center;
}
.home_text_right {
	position: relative;
	float: left;
	clear: right;
	width: 30%;	
	text-align: right;
	top: 15px;
	padding-right: 3%;
}

footer {
	position: relative;
	border-top: 1px solid #ccc;
	max-width: 800px;
	padding-top: 20px;
	margin: 30px auto 10px auto;	
	text-align: center;
	color: #a5a5a5;
	font-size: .8em;
}