@charset "utf-8";
/* CSS Document */

#wrap{
	position:fixed;; 
	z-index:-1; 

    /* center the element */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 90%;
	background-color:white
}
#wrap img.bgfade{
	position:absolute;
	top:0;
	display:none;
	width:1000px;
	height:895px;
	z-index:-1
}