@charset "utf-8";
/*
Website Name: Robert Means
Website URL: http://www.robertmeans.com
Website Author: Robert Means
Date: February 2014
Copyright 2014. All Rights Reserved
*/
/* 
===================================================== #reset



/* 
===================================================== #end reset/begin custom
*/
.contents {
	margin-top: -8px;
	border-top: 2px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.contents_first {
	margin-top: -8px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.contents_last {
	margin-top: -8px;	
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

#menu_footer {
	background-color: #757575;
}
#all:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
#item-1, #item-2, #item-3, #item-4, #item-5, #item-6, #item-7, #item-8, #item-9, #item-10 {
	background: #000;
	border: 1px solid #000;	
}
#item-1:hover, #item-2:hover, #item-3:hover, #item-4:hover, #item-5:hover, #item-6:hover, #item-7:hover, #item-8:hover, #item-9:hover, #item-10:hover {
	background: #757575;
}
.item_odd_first {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 380px;
	margin-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	padding-left: 10px;
}
.item_odd_price_first {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	clear: right;
}

.item_odd {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 380px;
	margin-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
}


.item_odd_price {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: right;
}
.item_even {
	line-height: 1em;
	background-color: #fff;
	display: block;
	float: left;
	width: 380px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.item_even_price {
	line-height: 1em;
	background-color: #fff;
	display: block;
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: right;
}
.category_description {
	display: block;
	float: left;
	width: 135px;
	margin-left: 365px;
	margin-top: 25px;
	clear: right;
}
.sushi_drinks_left_first {
	display: block;
	float: left;
	width: 189px;
	margin-left: 200px;
	margin-top: 30px;
	line-height: 1.7em;
}
.sushi_drinks_left {
	display: block;
	float: left;
	width: 189px;
	margin-left: 200px;
	line-height: 1.7em;
}
.sushi_drinks_right_first {
	display: block;
	float: left;
	width: 339px;
	margin-left: 50px;
	margin-top: 30px;
	line-height: 1.7em;
}
.sushi_drinks_right {
	display: block;
	float: left;
	width: 339px;
	margin-left: 50px;
	line-height: 1.7em;
}

/* 																						 #navigation
==================================================================================================== */
nav {
	border-bottom: 1px solid #000;
}
nav a:hover { 
	color: #fff;
	background-color: #000;
}
