@charset "utf-8";
h1 {
	display: inline-block;
	position: relative;		
	float: none;
	font-size: 1.3em;
	padding-right: 10px;
}
h3 {
	display: inline-block;
	position: relative;	
	float: none;
	clear: right;
	font-size: 1em;
	font-weight: normal;
}
h4 {
	float: none;
	clear: both;
	width: 100%;
	font-size: 1em;
	margin: 8px auto;	
}
#home_text {
	text-align: center;
	margin: -6px 0px 0px 0px;
}
.home_text_left {
	display: none;
}
.home_text_middle {
	width: 100%;
	/*background-color: gray;*/
}
.homepage_text_mobile {
	display: block;
	float: left;
	position: relative;
	width: 100%;
	text-align: center;
	line-height: 1.4em;
}
.home_text_right {
	display: none;
	position: relative;
}
#menu_large_rt_info {
	display: none;
}
footer {
	display: none;
}
nav.regular_menu_large { /* turn off lg screen nav for menu page */
	display: none;
}







nav.regular_menu_mobile {
	display: block;
	position: fixed;
	bottom: 0;
	z-index: 500;
	width: 100%;
/*	height: 25px;*/
	padding-top: 10px;	
	line-height: 1.2em;
	background-color: #000;
	color: #fff;	
	opacity: .85;
}
.menu_mobile_container {
	display: block;
	position: relative;
	margin: 0 auto;
	width: 240px;

}
nav.regular_menu_mobile a {
	display: block;
	float: left;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	width: 60px;
	height: 50px;
	text-align: center; 
	color: #fff;

/*	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #900;	
	border-radius: 8px	*/
}
nav.regular_menu_mobile a:hover { 
	text-decoration: none;
	color: #fff;
	background-color: #757575;
}
nav.regular_menu_mobile .all {  /* toggle switch for menu */
	display: block;
	float: left;
	clear: none;
	width: 60px;
	height: 50px;	
	margin-right: 0px;	
	padding: 0px 0px 0px 0px;
	background-color: #000;
	color: #fff;
	border: none;
	-moz-border-top-left-radius: 0x;
	-webkit-border-top-left-radius: 0x;
	border-top-left-radius:0px
	-moz-border-top-right-radius: 0x;
	-webkit-border-top-right-radius: 0x;
	border-top-right-radius:0px	
	text-decoration: none;
}
nav.regular_menu_mobile .all:hover {
	background-color: #757575;
	color: #fff;
	text-decoration: none;
}






nav.regular_menu_large .all {  /* toggle switch for menu */
	float: left;
	width: 180px;
	margin-right: 15px;	
	padding: 4px 8px 4px 8px;
	color: #fff;
	background-color: #993300;
}
nav.regular_menu_large .all:hover {
	background: #c4541c;
	color: #fff;
}

nav.sushi_menu_large {
	display: none;
}







nav.sushi_menu_mobile {
	display: block;
	position: fixed;
	bottom: 0;	
	z-index: 500;
	width: 100%;
	/*height: 75px;*/
	padding-top: 10px;
	padding-bottom: 8px;
	line-height: 1.2em;
	background-color: #000;
	color: #fff;
	opacity: .85;
}
nav.sushi_menu_mobile a {
	display: block;
	float: left;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	width: 60px;
	height: 50px;
	text-align: center; 
	color: #fff;

/*	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	background-color: #000;	
	border-radius: 8px;*/
}
nav.sushi_menu_mobile a:hover { 
	text-decoration: none;
	color: #fff;
	background-color: #757575;
}
nav.sushi_menu_mobile .all {  /* toggle switch for menu */
	display: block;
	float: left;
	width: 60px;
	height: 50px;	
	margin-right: 0px;
	padding: 0px 0px 0px 0px;
	background-color: #000;
	color: #fff;
	border: none;
	-moz-border-top-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px
	-moz-border-top-right-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-top-right-radius: 0px	
	text-decoration: none;
}
nav.sushi_menu_mobile .all:hover {
	background-color: #757575;
	color: #fff;
	text-decoration: none;
}






#item-1, #item-2, #item-3, #item-4, #item-5, #item-6, #item-7, #item-8, #item-9 {
	cursor: pointer;
	background: #930;
	color: white;
	width: 100%;
	margin-left: 0px;
	border-top: 1px solid #900;
	border-right: none;
	border-bottom: 2px solid #fff;
	border-left: none;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	margin-bottom: 0px;
}
.contents {
	border: none;
	margin-top: -2px;
	margin-bottom: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;		
}
.contents_last {
	border: none;
	margin-top: -2px;
	margin-bottom: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;	
	/*	this puts the border inside the flexible container w/o messing with the overall width*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.item_description {
	width: 90%;
}
.add_item {
	margin-top: 10px;
}
.add_item_price {
	margin-top: 10px;
}
.red_warning {
	padding: 8px 10px 8px 10px;
}
.be_own_chef {
	width: 100%;
}
/* 									     #sushi
================================================ */
#item-1_sushi, #item-2_sushi, #item-3_sushi, #item-4_sushi, #item-5_sushi, #item-6_sushi {
	cursor: pointer;
	background: #000;
	color: white;
	width: 100%;
	margin-left: 0px;
	border-top: 1px solid #000;
	border-right: none;
	border-bottom: 2px solid #fff;
	border-left: none;
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;	
	margin-bottom: 0px;
}
.item_odd_first_sushi {
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;		
}
.item_odd_price_first_sushi {
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}
.item_odd_sushi {
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;	
}
.item_odd_price_sushi {
	-webkit-border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
	border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;	
}
.contents_sushi {
	border: none;
	margin-top: -2px;
	margin-bottom: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;	
}
.contents_last_sushi {
	border: none;
	margin-top: -2px;
	margin-bottom: 5px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-top-left-radius: 0px;
	border-top-left-radius: 0px;	
	/*	this puts the border inside the flexible container w/o messing with the overall width*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}