@charset "utf-8";
/*
Website Name: Robert Means
Website URL: http://www.robertmeans.com
Website Author: Robert Means
Date: February 2014
Copyright 2014. All Rights Reserved
*/
#wrapper_menu {
	position: relative;
	width: 100%;
	max-width: 800px;
	margin: 0px auto;
	background-color: #fff;
}
#menu_header {
	z-index: 1000;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	background-color: #fff;
}
.contents {
	margin-top: -8px;
	border-top: 2px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}





#sushi_menu_large_rt_info {
	z-index: 30;
	display: block;
	width: 100%;
	max-width: 398px;
	margin-right: 5%;
	margin-left: 390px;

	position: absolute;
	background-color: blue;
\
}
.sushi_menu_large_rt_content {
	color: #fff;
	position: relative;
	margin: 40px auto;
	padding: 10px;
	display: block;
	width: 170px;
	background-color: green;
}






.contents_first {
	margin-top: -8px;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.contents_last {
	margin-top: -8px;	
	border-top: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}
#all {  /* toggle switch for menu */
	width: 180px;
	height: 26px;
	display: inline-block;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
	background: #fff;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border: 1p solid #fff;
	float: left;
}
#all:hover {
	background: #000;
	color: #fff;
	cursor: pointer;
}
#item-1, #item-2, #item-3, #item-4, #item-5, #item-6, #item-7, #item-8, #item-9, #item-10 {
	background: #000;
	border: 1px solid #000;	
}
#item-1:hover, #item-2:hover, #item-3:hover, #item-4:hover, #item-5:hover, #item-6:hover, #item-7:hover, #item-8:hover, #item-9:hover, #item-10:hover {
	background: #757575;
}
.item_odd_first {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 480px;
	margin-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	padding-left: 10px;
}
.item_odd_price_first {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 15px;
	clear: right;
}
.item_odd {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 480px;
	margin-left: 10px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 10px;
}
.item_odd_price {
	line-height: 1em;
	background-color: #ebebeb;
	display: block;
	float: left;
	width: 100px;
	padding-top: 8px;
	padding-bottom: 8px;
	clear: right;
}
.item_even {
	line-height: 1em;
	background-color: #fff;
	display: block;
	float: left;
	width: 480px;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.item_even_price {
	line-height: 1em;
	background-color: #fff;
	display: block;
	float: left;
	width: 100px;
	padding-top: 10px;
	padding-bottom: 10px;
	clear: right;
}
.category_description {
	display: block;
	float: left;
	width: 480px;
	margin-left: 15px;
	margin-top: 25px;
	clear: right;
}
.sushi_drinks_left_first {
	display: block;
	float: left;
	width: 200px;
	margin-left: 20px;
	margin-top: 30px;
	line-height: 1.7em;
}
.sushi_drinks_left {
	display: block;
	float: left;
	width: 200px;
	margin-left: 20px;
	line-height: 1.7em;
}
.sushi_drinks_right_first {
	display: block;
	float: left;
	clear: right;
	width: 350px;
	margin-left: 20px;
	margin-top: 30px;
	line-height: 1.7em;
}
.sushi_drinks_right {
	display: block;
	float: left;
	clear: right;
	width: 350px;
	margin-left: 20px;
	line-height: 1.7em;
}
/* 							  #navigation
========================================= */
nav {
	display: block;
	overflow: hidden;
	width: 100%;
	max-width: 800px;
	text-align: right;
	background-color: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #900;
}
nav a {
	color: #666;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	display: inline-block;
	width: 70px;
	text-align: center; 
	padding: 3px 20px 3px 20px;
	margin-right: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
nav a:hover { 
	color: #fff;
	background-color: #1f5588;
}
nav {
	border-bottom: 1px solid #000;
}
nav a:hover { 
	color: #fff;
	background-color: #000;
}
