@charset "utf-8";
/*
Website Name: Robert Means
Website URL: http://www.robertmeans.com
Website Author: Robert Means
Date: February 2014
Copyright 2014. All Rights Reserved
*/
body #wrapper_mobile {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 2em;
	color: #757575;
	background: white;
}
p {
	line-height: 1.2em;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: bold;
}
h1 {
	font-size: 2em;
	display: block;
	margin: 0 auto;
}
h2 {
	font-size: 1.6em;
	display: block;
	margin: 0 auto;
}
h3 {
	font-size: 1.4em;
	display: block;
	margin: 0 auto;
}
h4 {
	font-size: 1.2em;
	display: block;
	line-height: 1em;
	margin: 15px 0;	
}
#wrapper_mobile {
	position: relative;
	width: 100%;
	max-width: 640px;
	margin: 0px auto;
	background-color: #fff;
}
.contents_mobile {
	display: none;
	z-index: 50;
	background-color: #fff;
	float: left;
	margin-top: 0px;
	width: 96%;
	max-width: 628px;
	padding-top: 5px;
	padding-bottom: 20px;
}
.contents_last_mobile {
	display: none;
	background-color: #fff;
	float: left;
	margin-top: 0px;
	width: 96%;
	max-width: 628px;
	padding-top: 5px;
	padding-bottom: 20px;
}
.plus {
    background: url(../_images/plus.gif) no-repeat left center;
	padding-right: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.minus {
    background: url(../_images/minus2.gif) no-repeat left center;
	padding-right: 10px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
#item-1_mobile, #item-2_mobile, #item-3_mobile, #item-4_mobile, #item-5_mobile, #item-6_mobile, #item-7_mobile, #item-8_mobile, #item-9_mobile, #item-10_mobile {
	float: left;
	z-index: 45;
	cursor: pointer;
	background: #930;
	color: white;
	width: 90%;
	border-top: 1px solid #fff;
	clear: both;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 5%;
}
#item-1_mobile:hover, #item-2_mobile:hover, #item-3_mobile:hover, #item-4_mobile:hover, #item-5_mobile:hover, #item-6_mobile:hover, #item-7_mobile:hover, #item-8_mobile:hover, #item-9_mobile:hover, #item-10_mobile:hover {
    background: #c4541c;
}
#item-1_mobile {
	margin-top: 15px;
}
#all:hover {
	background:#900;
	color:#fff;
	cursor: pointer;
}
.category_description_mobile {
	display: block;
	float: left;
	width: 75%;
	margin-left: 5px;
	margin-top: 10px;
}
.category_description_price_mobile {
	display: block;
	float: left;
	width: 20%;
	color: #009;
	margin-left: 2%;
	margin-top: 10px;
}
.category_includes_mobile {
	width: 100%;
	margin-bottom: 10px;
	margin-left: 5px;
	display: block;
	float: left;
}
.substitute_mobile {
	display: block;
	width: 60%;
	margin-left: 5px;
	float: left;
}
.substitute_price_mobile {
	color: #009;
	display: block;
	width: 30%;
	float: left;
}
.item_mobile {
	font-size: 1.2em;
	font-weight: bold;
	color: #900;
	display: block;
	width: 85%;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a2a2a2;
	padding-top: 5px;
}
.item_price_mobile {
	display: block;
	width: 10%;
	float: left;
	clear: right;
	text-align: right;
	margin-right: 5px;
	margin-top: 20px;
	color: #009;
	padding-top: 5px;
}
.item_first_mobile {
	font-size: 1.2em;
	font-weight: bold;
	color: #900;
	display: block;
	width: 65%;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
	padding-top: 5px;
}
.item_description_mobile {
	display: block;
	line-height: 1.4em;
	width: 98%;
	margin-left: 5px;
	float: left;
}
.add_item_mobile {
	display: block;
	float: left;
	width: 75%;
	margin-left: 5px;
	margin-top: 5px;
}
.add_item_price_mobile {
	color: #009;
	display: block;
	width: 20%;
	float: left;
	clear: right;
	margin-top: 5px;
}
.be_own_chef_mobile {
	display: block;
	width: 95%;
	margin-left: 5px;
	font-size: 1em;
	color: #900;
	margin-top: 15px;
	float: left;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a2a2a2;
	margin-bottom: 6px;
	font-weight: bold;
}
.own_chef_col1_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 45%;
	line-height: 1.5em;
	margin-left: 5px;
}
.own_chef_col2_mobile {
	text-align: left;
	display: block;
	float: left;
	clear: right;
	width: 45%;
	line-height: 1.5em;
	margin-left: 5%;
}
.sides_n_such_left_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 30%;
	line-height: 1.5em;
	margin-left: 5px;
}
.sides_n_such_left_price_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 15%;
	line-height: 1.5em;
	margin-left: 2%;
}
.sides_n_such_right_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 30%;
	line-height: 1.5em;
}
.sides_n_such_right_price_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 15%;
	line-height: 1.5em;
	margin-left: 2%;
}
.red_warning_mobile {
	color: #FFF;
	line-height: 1.2em;
	background-color: #993300;
	padding: 10px;
	width: 96%;
	position: relative;
	margin: 5px;
	display: block;
	float: left;
	border: 1px solid #900;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}
.blt_mobile {
	font-size: 1.2em;
	font-weight: bold;
	color: #900;
	display: block;
	width: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #a2a2a2;
	padding-top: 5px;
}
.vga_mobile {
	font-size: 1.2em;
	font-weight: bold;
	color: #900;
	display: block;
	width: 75%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	float: left;
	padding-top: 5px;
}
.blt_price_mobile {
	display: block;
	width: 20%;
	float: left;
	margin-top: 5px;
	color: #009;
	padding-top: 5px;
}
.no_side_mobile {
	font-size: 1em;
	font-style: italic;
	color: #666;
	display: block;
	float: left;
	width: 95%;
	margin-left: 5px;
	margin-top: 10px;
}
.soft_drinks_mobile {
	display: block;
	float: left;
	width: 77%;
	margin-left: 5px;
	margin-top: 10px;
}
.soft_drink_price_mobile {
	display: block;
	float: left;
	width: 15%;
	margin-top: 10px;
	margin-left: 2%;
}
.beverages_top_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 74%;
	line-height: 1.5em;
	margin-left: 5px;
	margin-top: 10px;
}
.beverages_price_top_mobile {
	text-align: left;
	display: block;
	float: left;
	clear: right;
	width: 15%;
	line-height: 1.5em;
	margin-left: 5px;
	margin-top: 10px;
	margin-left: 2%
}

.beverages_mobile {
	text-align: left;
	display: block;
	float: left;
	width: 74%;
	line-height: 1.5em;
	margin-left: 5px;
	margin-top: 10px;
}
.beverages_price_mobile {
	text-align: left;
	display: block;
	float: left;
	clear: right;
	width: 15%;
	line-height: 1.5em;
	margin-left: 5px;
	margin-top: 10px;
	margin-left: 2%
}
/* 																						 #navigation
==================================================================================================== */
nav {
	display: block;
	overflow: hidden;
	width: 100%;
	text-align: right;
	background-color: #fff;
	padding-bottom: 10px;
	border-bottom: 1px solid #900;
}
nav a {
	color: #666;
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
	font-size: .9em;	
	display: inline-block;
	width: 70px;
	text-align: center; 
	padding: 3px 20px 3px 20px;
	margin-right: 30px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}
nav a:hover { 
	color: #fff;
	background-color: #1f5588;
}
