@charset "utf-8";
/*
Website Name: Robert Means
Website URL: http://www.robertmeans.com
Website Author: Robert Means
Date: February 2014
Copyright 2014. All Rights Reserved
*/
/* 
===================================================== #begin custom
*/
body {
	margin: 0;
	padding: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.6em;
	color: #757575;
	background: white;
}
#wrapper {
	max-width: 640px;
}
#home_text {
	max-width: 640px;
	margin: 0 auto;
}
.home_text_left {
	min-width: 114px;
	top: 10px;
}
.home_text_middle {
	min-width: 230px;
}
.home_text_right {
	top: 10px;
}
